.movie-details {
    position: relative;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;

    &__image {
        width: 200px; 
        height: 300px; 
        object-fit: cover;
        border-radius: 5px;
        margin-right: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 30px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 10px;
    }

    &__year {
        font-size: 20px; 
        color: #b8b3b3;
        margin-bottom: 10px;
    }

    &__rating,
    &__duration {
        font-size: 18px; 
        color: #808080;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 16px; 
        color: #808080;
        text-align: justify;
    }

    &__close {
        position: absolute;
            top: 50%;
            right: -20%;
            transform: translateY(-50%);
            background-color: #f65261;
            border: none;
            font-size: 24px;
            color: #fff;
            cursor: pointer;
            outline: none;
    }


}
