.button {
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;

    height: 57px;
    // width: 233px;
    padding: 10px 35px;
    background-color: #f65261;
    color: #ffffff;
    border: none;
    
    &:hover {
            background-color: #2e2425;
            color: #ffffff;
        }
    
        &:focus {
            box-shadow: 0 0 0 0.2rem #d87880;
        }
}

