.netflixLogo-header {
    height: 5vh;
}

.logo-symbol {
    color: #ec4c4c;
    font-weight: 800;
    font-family: bernard MT;
    font-size:xx-large;
    margin: 0 5px;
}

.logo {
    padding: 10px 5px;
}