.header {
    background-image: url(../../common/Images/HeaderBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    &.movie-selected {
        height: auto;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }

    .add-button button {
        height: 40px;
        width: 140px;
        text-transform: uppercase;
        color: #f65261;
        background-color: #555555;
        cursor: pointer;
        border-radius: 5px;
    }

    .add {
        font-weight: 600;
        border: none;

        &:hover {
            background-color: #f65261;
            color: #ffffff;
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem #d87880;
        }
    }
}

.container {
    width: 90%;
    margin: 0 auto;
}
