.home {
    background-color: #f3efef;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    

    .style {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 20px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: large;
        list-style: none;
        
      
    }

}
  a {
            text-decoration: none;
            list-style: none;
            color: black;
        }
a:hover {
            color: blue;
                    
        }